<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta name="layout" content="full-book">

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>

</head>
<body>

{{#each collections.chapters }}
	{{{this.contents}}}

	<div class="chapter-divider"></div>
  <div style="page-break-before:always">&nbsp;</div>
{{/each}}

<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>